Africa
America
Antarctica
Arctic
Asia
Atlantic
Australia
Brazil
CET
CST6CDT
Canada
Chile
Cuba
EET
EST
EST5EDT
Egypt
Eire
Etc
Europe
Factory
GB
GB-Eire
GMT
GMT%0
GMT-0
GMT0
Greenwich
HST
Hongkong
Iceland
Indian
Iran
Israel
Jamaica
Japan
Kwajalein
Libya
MET
MST
MST7MDT
Mexico
Mideast
NZ
NZ-CHAT
Navajo
PRC
PST8PDT
Pacific
Poland
Portugal
ROC
ROK
Singapore
Turkey
UCT
US
UTC
Universal
W-SU
WET
Zulu
iso3166.tab
localtime
posixrules
zone.tab
